<div class="counter">
    <span id="q_num">{{ page }}</span> / {{ totalQuestions }}
</div>
{{#if hasPrevious}}
<div class="previous-container">
    <a role="button" class="previous-btn"><img src="img/arrow.png"></a>
</div>
{{/if}}