<div class="counter">{{ page }} / {{ totalQuestions }}</div>
{{#if hasPrevious}}
<div class="previous-container">
    <a role="button" class="previous-btn"><img src="img/arrow.png"></a>
</div>
{{/if}}