<div class="container">
	<div class="content">
		<div id="quiz-content" style="color:{{ custom.fontColor }}"></div>
	</div>
</div>
<div class="background" style="background-color:{{ custom.bgColor }}">
	<div class="progress"></div>
</div>
<div class="footer">
    <div id="page-counter"></div>
	<div class="logo-container">
	    {{#if custom.logo}}
	        <img src="{{ custom.logo }}" height="42">
	    {{else}}
            <a href="https://www.tryinteract.com" target="_blank"><img src="img/logo.png" height="43"></a>
	    {{/if}}
	</div>
</div>