<div class="centered-container">
	<h2 class="results-subtitle">{{ title }}</h2>
	{{#if img}}
	<div class="results-img" style="background-image:url({{ img }});"></div>
	{{/if}}
	<div class="results-text">{{{ description }}}</div>
	<div class="social-container">
		<p class="share-text">Share Your Results</p>
		<div class="social-share-btns">
			<a href="#" class="fb">Share on Facebook</a>
			<a href="#" class="twitter">Share on Twitter</a>
		</div>
	</div>
</div>